@model CareerCloud.Pocos.ApplicantJobApplicationPoco

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApplicantJobApplicationPoco</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicantProfile.SecurityLogin.FullName)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.ApplicantProfile.SecurityLogin.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyJob.Id)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.CompanyJob.CompanyJobDescriptions.FirstOrDefault().JobName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
