@model CareerCloud.Pocos.ApplicantProfilePoco

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApplicantProfilePoco</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SecurityLogin.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityLogin.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SystemCountryCode.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemCountryCode.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
    </dl>

</div>
<div>
    <h2>Job Details of @Model.SecurityLogin.FullName</h2>
    @if (Model.ApplicantJobApplications.Count > 0)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Company Name")
                </th>
                <th>
                    @Html.DisplayName("Job Title")
                </th>
                <th>
                    @Html.DisplayName("Job Descriptionn")
                </th>
                <th>
                    @Html.DisplayName("Job Created")
                </th>
                <th>
                    @Html.DisplayName("Is Inactive")
                </th>
            </tr>
            @foreach (var item in Model.ApplicantJobApplications)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyJob.CompanyProfile.CompanyDescriptions.FirstOrDefault().CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyJob.CompanyJobDescriptions.FirstOrDefault().JobName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyJob.CompanyJobDescriptions.FirstOrDefault().JobDescriptions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyJob.ProfileCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyJob.IsInactive)
                </td>
            </tr>
            }

        </table>
    }
    else
    {
        <p>There is no jobs posted by @Model.SecurityLogin.FullName</p>
    }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
