@model CareerCloud.Pocos.CompanyProfilePoco

@{
    ViewBag.Title = "Details";
}

<h2>Company Details</h2>

<div>
    <h4>@Model.CompanyDescriptions.FirstOrDefault().CompanyName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyWebsite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyWebsite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.CompanyLogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyLogo)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
    </dl>
</div>

<div>
    <h2>Job Details of @Model.CompanyDescriptions.FirstOrDefault().CompanyName</h2>
    &nbsp
    <h4>@Html.ActionLink("Post New Job", "PostNewJob", new { id = Model.Id })</h4>

    @if (Model.CompanyJobs.Count > 0)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Job Title")
                </th>
                <th>
                    @Html.DisplayName("Job Descriptionn")
                </th>
                <th>
                    @Html.DisplayName("Job Created")
                </th>
                <th>
                    @Html.DisplayName("Is Inactive")
                </th>
                <th>
                    @Html.DisplayName("Is Inactive")
                </th>
            </tr>
            @foreach (var item in Model.CompanyJobs)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyJobDescriptions.Where(c => c.Job == item.Id).FirstOrDefault().JobName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyJobDescriptions.Where(c => c.Job == item.Id).FirstOrDefault().JobDescriptions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfileCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsInactive)
                </td>
                <td>
                    @Html.ActionLink("Job Details", "ViewJob", "CompanyJob", new { company = Model.Id, Job = item.Id }, null)
                </td>
            </tr>
            }

        </table>
    }
    else
    {
        <p>There is no jobs posted by @Model.CompanyDescriptions.FirstOrDefault().CompanyName</p>
    }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
