@model IEnumerable<CareerCloud.Pocos.CompanyJobPoco>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CompanyJobPoco</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyProfile.CompanyDescriptions.FirstOrDefault().CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().CompanyProfile.CompanyDescriptions.FirstOrDefault().CompanyName)
        </dd>

        <dt>
            &nbsp;
        </dt>
        <dd>
            &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyJobDescriptions.FirstOrDefault().JobName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().CompanyJobDescriptions.FirstOrDefault().JobName)
        </dd>

        <dt>
            &nbsp;
        </dt>
        <dd>
            &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyJobDescriptions.FirstOrDefault().JobDescriptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().CompanyJobDescriptions.FirstOrDefault().JobDescriptions)
        </dd>

        <dt>
            &nbsp;
        </dt>
        <dd>
            &nbsp;
        </dd>

        <dt>
            @Html.DisplayName("Job Posted")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().ProfileCreated)
        </dd>

        <dt>
            &nbsp;
        </dt>
        <dd>
            &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyJobSkills.FirstOrDefault().Skill)
        </dt>
        @foreach (var item in Model.FirstOrDefault().CompanyJobSkills)
        {
            <dd>
                @Html.DisplayFor(model => item.Skill)<br />
            </dd>
        }
        <dt>
            &nbsp;
        </dt>
        <dd>
            &nbsp;
        </dd>

        <dt>
            &nbsp;
        </dt>

        <dd>
            @Html.ActionLink("Add More Skills", "Create", "CompanyJobSkill", new { job = Model.FirstOrDefault().Id }, null)
        </dd>

        <dt>
            &nbsp;
        </dt>
        <dd>
            &nbsp;
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.CompanyJobEducations.FirstOrDefault().Major)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().CompanyJobEducations.FirstOrDefault().Major)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TimeStamp)
            </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Company", "Details", "CompanyProfile", new { id = Model.FirstOrDefault().Company }, null)
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
